body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.center-image {
    display: block;
    margin: 0 auto 20px;
    width: 60%;
    height: auto;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.video-stream {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.video-item {
    margin: 10px;
    text-align: center;
    width: calc(25% - 20px);
    /* 네 개의 아이템이 한 줄에 오도록 설정 */
}

.video-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.video-thumbnail:hover {
    transform: scale(1.05);
}

p {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
}